<?xml version='1.0'?>

<robot name="goat_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="hip_base_link" params="leg" >

      <link name="${leg}_base_link"> 
          <inertial>
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <mass value="0.45"/>
              <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0"/>
          </inertial>
          <visual>
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <geometry>
                <mesh filename="package://second_goat_description/meshes/qb_meshes/dae/qb_double_flat_flange_m.dae" />
              </geometry> 
          </visual>   
          <visual>
              <origin xyz="0 0.033 -0.046" rpy="${pi/2} ${pi} 0"/>
              <geometry>
                <mesh filename="package://second_goat_description/meshes/qb_meshes/dae/qbmove_frame_m.dae" />
              </geometry> 
          </visual> 
          <collision>
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <geometry>
                  <mesh filename="package://second_goat_description/meshes/qb_meshes/dae/qb_double_flat_flange_m.dae" />
              </geometry> 
          </collision>   
          <collision>
              <origin xyz="0 0.033 -0.046" rpy="${pi/2} ${pi} 0"/>
              <geometry>
                 <mesh filename="package://second_goat_description/meshes/qb_meshes/dae/qbmove_frame_m.dae" />
              </geometry> 
          </collision>    
      </link>

    </xacro:macro>
</robot>
