<?xml version="1.0"?>

<model>
  <name>stairs</name>
  <version>1.0</version>
  <sdf version="1.2">model.sdf</sdf>
  <sdf version="1.3">model.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Enrico Mingo Hoffman</name>
    <email>enrico.mingo@iit.it</email>
  </author>

  <description>
    Stairs used in Eurobench.
  </description>
</model>
